<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel = "icon" href = "/img/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <form>
        <input id="bar" placeholder="Type address here">
        <button class="noselect">Search</button>
      </form>
      <img id="wimg" src="">
      <p id="msg1"></p>
      <p id="msg2"></p>
    </div> 
    {{>footer}}
  </body>
</html>