<header>

  <h1 class="heading">{{title}}</h1>
  <div class="nav">
    <a class="nav-btn" href="/">Weather</a>
    <a class="nav-btn" href="/about">About</a>
    <a class="nav-btn" href="/help">Help</a>
  </div>
</header>