body {
  background: linear-gradient(-45deg, #d80556, #a0003e, #000877, #00a9d3);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  font-size: 500%;
  color: rgb(255, 203, 203);
  animation: hueRotation 30s linear infinite;
  margin-top: 0;
  margin-bottom: 0;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
  margin-top: 16px;
  border: 1px solid #fff;
}

footer {
  color: #ffffff;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 8px 0;
}

header {
  margin-bottom: 48px;
}

.nav-btn {
  color: #a18be9;
  margin-top: 16px;
  text-decoration: none;
  padding: 16px;
}

/* .nav-btn-active {
  color: #a18be9;
  margin-top: 10px;
  text-decoration: none;
  padding: 16px;
  animation: hueRotation 2s linear infinite;
} */

#wimg {
  margin-top: 32px;
}

#msg1 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

#msg2 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#bar {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 2px;
  font-family: "Roboto Condensed", sans-serif;
  /* color: white; */
  font-size: 200%;
  transition: 500ms;
}

button {
  width: 30%;
  height: 50px;
  cursor: pointer;
  background: #a18be9;
  border: none;
  border-radius: 2px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 200%;
  transition: 500ms;
}

button:hover {
  animation: hueRotation 2s linear infinite;
}

@keyframes hueRotation {
  to {
    filter: hue-rotate(180deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button:focus {
  outline: none;
}
